[Unit]
After=network-online.target
Wants=network-online.target
Description=Aegis Server Dev

[Service]
Type=simple
User=ddtechi
WorkingDirectory=/home/ddtechi/ddtech/aegis
ExecStart=../ddtenv/bin/gunicorn --workers 12 --bind unix:/tmp/ddtech_gunicorn.sock config.wsgi --env DJANGO_SETTINGS_MODULE=config.settings.development

[Install]
WantedBy=multi-user.target
